p {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #999999;
}
i{
  padding: 5px 9px;
}

.active {
    background-color: #007bff !important;
    color:white;
}




section {
  margin: 0 161px;
  button {
    padding: 11px 24px;
  }

  .part_create {
    padding: 40px;
    background-color: #0f172a;
    .create_task {
       
        input,button{
            height: 45px;
        }
    }
    h2 {
      i {
        background-color: #007bff15;
      }
    }
  }
}


main{
    margin: 0 161px;
}

section{
  table{
    th{
      text-transform: uppercase;
      padding: 10px;
    }
    td{
      text-transform: capitalize;
      padding: 10px;
      font-size: 18px;
      font-weight: 500;      
    }

    thead{
      background-color: #1b57e20f;
      tr{
        border: 1px solid #1a1a1ad0;
      }
    }

    tbody{
      #status{
        cursor: pointer;
      }
      td{
        button{
          padding: 5px;
          border: none;
          border-radius: 6px;

        }
        #edit{
          background-color: #fca919db;
        }
        #delete{
          background-color: #ef4444;
        }
      }
    }
  }
}
